@font-face {
    font-family: "Mont";
    src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: "Robo";
    src: url(../fonts/Roboto.ttf);
}
@font-face {
    font-family: "comf";
    src: url(../fonts/Comfortaa.ttf);
}
*{
    padding: 0;
    margin: 0;
}

/*header*/
.header{
    height: 335px;
    background-image: url("../images/2_page/header/BG.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.header_main{
    margin: auto;
    width: 60%;
    display: flex;
    justify-content: space-between;
    padding: 50px;
}
.header_main ul{
    display: flex;
    list-style: none;
    margin-top: 6px;
}
.header_main a{
    text-decoration: none;
    font-size: 20px;
    font-family: "mont";
    color: white;
    margin: 20px;
}
.header_login{
    display: flex;
}
.header_login div{
    font-size: 13.42px;
    font-family: "mont";
    color: white;
    margin-right: 35px;
    margin-top: 9px;
    margin-top: 0;
}

.login1{
    padding-top:10px;
}

.btn_header{
    color: #BB6DF3;
    font-family: 'Mont';
    font-size: 13.42px;
    width: 132px;
    height: 36px;
    border-radius: 18px;
    border-style: none;
    font-weight: 600;
    background-color: #FFFFFF;
}

.button_header{
    padding-left: 40px;
}

/*SEC1*/
.section1{
}
.section1 div{
    text-align: center;
}
.sec1_text1{
    font-size: 72px;
    font-family: "robo";
    font-weight: bold;
    color: #3B668D;
    letter-spacing: 20px;
}
.sec1_text2{
    font-size: 24px;
    font-family: "mont";
    color: #3B668D;
    letter-spacing: 20px;
    margin-bottom: 100px;
}





.accordion{
    max-width: 90%;
    margin: auto;
}
.acor-container {
    margin: 20px 0;
    margin: auto;
    width: 1199px;
}
.acor-container .acor-body {
    width: 1199px;
    margin: 0 auto;
    height: 0;
    background-color: white;
    line-height: 18px;
    padding: 0 30px;
    box-sizing: border-box;
    transition: color 0.5s, padding 0.5s;
    overflow: hidden;
    font-family: Verdana, sans-serif; 
    font-size: 16px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.acor-container .acor-body p {
    margin: 0 0 10px;
    height: 200px;
    color: #878787;
    font-size: 20px;
    font-family: "comf";
    text-align: left;
    line-height: 1.5;
}
.acor-container label {
    cursor: pointer;
    background-image: linear-gradient(to right, #B2E3FF, #DFBFFF);
    display: block;
    padding: 15px 20px;
    width: 100%;
    color: #46637E;
    font-weight: bold;
    box-sizing: border-box;
    z-index: 100;
    font-family: "comf";   
    font-size: 30px;
    margin: 0 0 5px;
    transition: color .35s;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    height: 60px;
    text-align: left;
}
.acor-container label:hover {
    color: #46637E;
    background-image: linear-gradient(to right, #B1E3FF, #DFBEFF);
}
.acor-container input{
    display: none;
}
.acor-container label:before {
    content: '\276F';
    float: right;
}
.acor-container input:checked + label {
    background-color: #285f8f;
    color: #FFF;
}
.acor-container input:checked + label:before {
    transition: transform .35s;
    transform: rotate(90deg);
}
.acor-container input:checked + label + .acor-body {
    height: auto;
    margin-top: -5px;
    color: #000;
    padding: 20px 30px 10px;
}






/*SEC3*/
.section3{
    background-image: url("../images/2_page/3_section/Statspanel.png");
    height: 261.36px;
    text-align: center;
    margin-top: 500px;
}
.sec3_main{
    margin: auto;
    display: flex;
    max-width: 65%;
    justify-content: space-between;
}
.sec3_comp{
    display: flex;
    margin-top: 70px;
}
.comp1{
    font-size: 42px;
    font-family: "comf";
    font-weight: bold;
    color: #425B8C;
    text-align: left;
    margin-bottom: 4px;
}
.comp2{
    font-size: 20px;
    font-family: "comf";
    color: #718DC2;
    text-align: left;
}
.comp_text{
    width: 467px;
    margin-left: 40px;
    margin-top: 15px;
}
/*FOOTER*/
.footer{
    background-image: url("../images/2_page/footer/BG.png");
    height: 1085.9px;
    margin-top: 200px;
}
.footer_main{
    display: flex;
    max-width: 80%;
    margin: auto;
    justify-content:space-between;
    padding-top: 500px;
}
.foot_column{
    width: 422.5px;
    height: 283px;
}
.column_text1{
    font-size: 48px;
    font-family: "comf";
    color: white;
    margin-bottom: 50px;
}
.column_text2{
    font-size: 20px;
    font-family: "comf";
    color: white;
}
.column_text2 ul{
    list-style: none;
}
.column_text2 li{
    margin-bottom: 20px;
}
.column_text2 a{
    color: white;
}
.column_text2 div{
    margin-bottom: 20px;
}
.line {
    border-bottom: 1px solid #FFFFFF;
    border-right-width: 2px;
    max-width: 80%;
    margin: auto;
    margin-top: 150px;
}
.footer_text{
    font-size: 24px;
    font-family: "comf";
    margin-top: 60px;
    color: white;
    text-align: center;
}